.span1 {
    width: 100px;
    height: 50px;
    background-color: bisque;
    display: block;
}

.box1 {
    background-color: green;
    width: 100px;
    height: 100px;
    display: inline-block;
    margin: 20px;
}

.box1 div .span1 {
    color: aqua;
    width: auto;
    height: auto;
    background-color: transparent;
    display: inline;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}