nav{
    display: flex;
    background-color: lightblue;
    height: 30px;
    width: 100%;
    margin: none;

}

span{
   
    color: darkblue;
    height: 15px;
    font-size: 11px;
    margin-top: 7px;
    
}


#marginForHome{
    margin-right: 25%;
    margin-left: 5%;
}

#marginForSearch{
    margin-right: 15px;
    margin-left:15px
}

.marginfornav{
     margin: left 10%;
}

#verticleDiv{
    height: 250px;
    width: 100PX;
    background-color: black;
    display: block;
}