.custom-input {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;

  label {
    font-size: 1em;
    width: 100px;
  }

  input {
    padding: 2px 4px 2px 4px;
    font-size: 1em;
    height: 24px;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
  }
}
