body {
    background-image: url(/Projects/Calculator/f91eb394ceea5aa054fb0f197f77be75.jpg);
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(33, 41, 41);
}

.Calculator {
    height: 35rem;
    width: 35rem;
    background-color: rgb(19, 19, 15);
    border-collapse: separate;
    border-spacing: 0.4rem;
}


.Calculator td {
    width: 5rem;
    height: 2.5rem;
    background-color: rgb(241, 241, 9);
    border-radius: 10%;
    color: #2b2525;
    text-align: center;
    vertical-align: middle;
    font-size: 2.5rem;

}

.calpanel td:hover {
    background-color: rgb(19, 19, 15);
    color: yellow;
    box-shadow: 0 0 15px rgb(253, 253, 125);
}

#expressionPannel {
    background-color: rgb(127, 127, 127);
    color: #d5d826;
    font-size: 1.8rem;
    text-align: left;
    padding: 0.3rem;
    border-radius: 0.2rem;
    height: 3rem;
    width: 100%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    overflow-y: auto;
    white-space: normal;
}

#solutionPannel {
    background-color: rgb(67, 67, 67);
    color: #e8f621;
    font-size: px;
    font-style: italic;
    text-align: right;
    padding: 0.6rem;
    border-radius: 0.2rem;
    height: 2.8rem;
}

#themeChanger {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 0.6rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 8px;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(33, 41, 41);
}

.Calculator {
    height: 35rem;
    width: 35rem;
    background-color: rgb(19, 19, 15);
    border-collapse: separate;
    border-spacing: 0.4rem;
}

.Calculator td {
    width: 5rem;
    height: 2.5rem;
    background-color: rgb(241, 241, 9);
    border-radius: 10%;
    color: #2b2525;
    text-align: center;
    vertical-align: middle;
    font-size: 2.5rem;
}

.calpanel td:hover {
    background-color: rgb(19, 19, 15);
    color: yellow;
    box-shadow: 0 0 15px rgb(253, 253, 125);
}

#expressionPannel {
    background-color: rgb(127, 127, 127);
    color: #d5d826;
    font-size: 1.8rem;
    text-align: left;
    padding: 0.3rem;
    border-radius: 0.2rem;
    height: 2.5rem;
}

#solutionPannel {
    background-color: rgb(67, 67, 67);
    color: #e8f621;
    font-size: 2rem;
    font-style: italic;
    text-align: right;
    padding: 0.6rem;
    border-radius: 0.2rem;
    height: 3rem;
}

#themeChanger {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 0.6rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 8px;
}

body.light-theme {

    background-color: #f2f2f2;
    background-image: url(/Projects/Calculator/1600w-rtHx0Wpl5Oc.webp );
    background-size: cover;
    background-position: center;

}

body.light-theme .Calculator {
    background-color: #c3c3c3;
}

body.light-theme .Calculator td {
    background-color: #eaeaea;
    color: #19031f;
}

body.light-theme .calpanel td:hover {
    background-color: #d0d0d0;
    color: #ffffff;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

body.light-theme #expressionPannel {
    background-color: #f5f5f5;
    color: #060106;
}

body.light-theme #solutionPannel {
    background-color: #e0e0e0;
    color: #000000;
}